@font-face {
  font-family: "Gotham Condensed";
  src: url("../fonts/GothamCondensed-Book.woff2") format("woff2"),
    url("../fonts/GothamCondensed-Book.woff") format("woff"),
    url("../fonts/GothamCondensed-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Walkway SemiBold";
  src: url("../fonts/WalkwaySemiBold.woff2") format("woff2"),
    url("../fonts/WalkwaySemiBold.woff") format("woff"),
    url("../fonts/WalkwaySemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Walkway SemiBold", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Walkway SemiBold";
}
.article-container {
  margin: 4em 4em 8em 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-back1:before {
  content: "CONSULTA";
  clear: right;
  height: 96px;
  width: 30vw;
  opacity: 0.7;
  color: #eef8f9;
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  line-height: 48px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.services-back2:before {
  content: " MEDICA";
  clear: right;
  height: 96px;
  width: 621px;
  opacity: 0.7;
  color: #eef8f9;
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  line-height: 48px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: -20%;
  margin-top: -5%;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.serices-title {
  width: 100%;
}
.services-title:before {
  content: "ESTUDIOS";
  clear: right;
  height: 96px;
  width: 100%;
  opacity: 0.7;
  color: #eef8f9;
  font-family: Arial;
  font-size: 70px;
  font-weight: bold;
  line-height: 48px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-container {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  margin-top: -50px;
  height: 60px;
  width: 45%;
  color: #6d6d6d;
  font-family: "Walkway SemiBold";
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  position: absolute;
}

.services-image-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-ul li {
  height: 21px;
  width: 100%;
  color: #72295e;
  font-family: "Walkway SemiBold";
  font-size: 20px;
  line-height: 21px;
  margin: 30px 10px;
  list-style: none;
}
.post-ul li::before {
  font-family: "Courier New";
  font-size: 80px;
  content: "\2024";
  color: #16a1b2;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.8em;
}

.post-ul span {
  height: 40px;
  width: 620px;
  color: #6d6d6d;
  font-family: "Walkway SemiBold";
  font-size: 20px;
  line-height: 20px;
}

.faq-title-dudas:before {
  content: "DUDAS";
  clear: right;
  height: 96px;
  width: 28%;
  opacity: 0.7;
  color: #eef8f9;
  font-family: Arial;
  font-size: 70px;
  font-weight: bold;
  line-height: 48px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.faq-title-resueltas:before {
  content: "RESUELTAS";
  clear: right;
  height: 29px;
  width: 35%;
  opacity: 0.7;
  color: #eef8f9;
  font-family: Arial;
  font-size: 70px;
  font-weight: bold;
  line-height: 48px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width: 1200px) {
  .services-back1:before {
    margin-left: 40px;
  }
}

@media (max-width: 1100px) {
  .text-container {
    height: 20vh;
  }
  .services-back1:before {
    margin-left: 80px;
  }

  .faq-title-dudas:before {
    width: 45%;
  }
  .faq-title-resueltas:before {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .text-container {
    height: 25vh;
  }
  .container {
    width: 50vw;
  }
  .services-back1:before {
    font-size: 60px;
    margin-left: 5%;
  }
  .services-back2:before {
    font-size: 60px;
    margin-left: -55%;
    margin-top: -10%;
  }
}

@media (max-width: 800px) {
  .article-container {
    height: 80vh;
    margin: 0 0 4em 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .text-container {
    height: 25vh;
    margin: 0;
    align-items: center;
  }
  .info {
    text-align: center;
    width: 70vw;
    position: relative;
  }
  .services-back2:before {
    margin-left: -70%;
    margin-top: -12%;
  }
}
@media (max-width: 768px) {
  .faq-title-dudas:before {
    width: 45%;
  }
  .faq-title-resueltas:before {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .services-back2:before {
    margin-left: -100%;
    margin-top: -15%;
  }
  .post-ul li::before {
    width: 0.4em;
    margin-left: -0.4em;
  }
}

@media (max-width: 500px) {
  .services-back2:before {
    margin-left: -140%;
    margin-top: -18%;
  }
}

@media (max-width: 490px) {
  .text-container {
    height: 28vh;
  }
}

@media (max-width: 450px) {
  .services-back2:before {
    margin-left: -165%;
    margin-top: -18%;
  }
  .text-container {
    height: 32vh;
  }
  .faq-title-dudas:before {
    width: 90%;
    font-size: 49px;
  }
  .faq-title-resueltas:before {
    width: 86%;
    font-size: 49px;
  }
  .services-image-container {
    margin-top: 60px;
  }
}

@media (max-width: 400px) {
  .services-back2:before {
    margin-left: -190%;
    margin-top: -18%;
  }
  .services-title:before {
    font-size: 60px;
  }
}
