@font-face {
    font-family: 'Gotham Condensed';
    src: url('../fonts/GothamCondensed-Book.woff2') format('woff2'),
        url('../fonts/GothamCondensed-Book.woff') format('woff'),
        url('../fonts/GothamCondensed-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: '"Walkway SemiBold';
    src: url('../fonts/WalkwaySemiBold.woff2')format('woff2'),
        url('../fonts/WalkwaySemiBold.woff')format('woff'),
        url('../fonts/WalkwaySemiBold.ttf')format('truetype');
        font-weight: normal;
        font-style: normal;
}


html{
    font-family: 'Walkway SemiBold';
    margin:0;
    padding: 0;
    
}